<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu Items</title>
</head>
<body>
<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:20px;">
    <!--    <h2>Menu Items</h2>-->

    <a href="/" style="
        padding:8px 16px;
        background:#3498db;
        color:white;
        border-radius:6px;
        text-decoration:none;
        font-weight:bold;
        font-family:Arial;
        transition:0.2s;
    "
       onmouseover="this.style.background='#2980b9'"
       onmouseout="this.style.background='#3498db'">
        Home
    </a>
</div>
<h2>Menu Items</h2>

<a href="/menuitems/new">Add New Item</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    <tr th:each="item : ${menuItems}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td>
            <form th:action="@{/menuitems/{id}/delete(id=${item.id})}" method="post">
                <button type="submit">Delete</button>
            </form>

        </td>
    </tr>
</table>
</body>
</html>