<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu Items</title>
</head>
<body>
<h1>Menu Items</h1>
<a th:href="@{/menuItems/new}">Add New Menu Item</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    <tr th:each="item : ${menuItems}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td>
            <a th:href="@{/menuItems/edit/{id}(id=${item.id})}">Edit</a>
            <a th:href="@{/menuItems/delete/{id}(id=${item.id})}"
               onclick="return confirm('Are you sure?');">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>