<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Servers</title>
</head>
<body>
<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:20px;">
    <!--    <h2>Servers</h2>-->

    <a href="/" style="
        padding:8px 16px;
        background:#3498db;
        color:white;
        border-radius:6px;
        text-decoration:none;
        font-weight:bold;
        font-family:Arial;
        transition:0.2s;
    "
       onmouseover="this.style.background='#2980b9'"
       onmouseout="this.style.background='#3498db'">
        Home
    </a>
</div>
<h2>Servers</h2>

<a href="/servers/new">Add New Server</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Rating</th>
        <th>Action</th>
    </tr>
    <tr th:each="server : ${servers}">
        <td th:text="${server.id}"></td>
        <td th:text="${server.name}"></td>
        <td th:text="${server.designation}"></td>
        <td th:text="${server.rating}"></td>
        <td>
            <form th:action="@{'/servers/' + ${server.id} + '/delete'}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>