<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tables</title>
</head>
<body>
<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:20px;">
<!--    <h2>Tables</h2>-->

    <a href="/" style="
        padding:8px 16px;
        background:#3498db;
        color:white;
        border-radius:6px;
        text-decoration:none;
        font-weight:bold;
        font-family:Arial;
        transition:0.2s;
    "
       onmouseover="this.style.background='#2980b9'"
       onmouseout="this.style.background='#3498db'">
        Home
    </a>
</div>
<h2>All Tables</h2>

<a th:href="@{/tables/new}">➕ Add New Table</a>
<br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Number</th>
        <th>Status</th> <th>Actions</th>
    </tr>

    <tr th:each="table : ${tables}">
        <td th:text="${table.id}"></td>
        <td th:text="${table.number}"></td>

        <td th:text="${table.status}"></td>

        <td>
            <form th:action="@{/tables/{id}/delete(id=${table.id})}" method="post">
                <button type="submit">🗑️ Delete</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>