<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customers</title>
</head>
<body>
<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:20px;">
    <!--    <h2>Customers</h2>-->

    <a href="/" style="
        padding:8px 16px;
        background:#3498db;
        color:white;
        border-radius:6px;
        text-decoration:none;
        font-weight:bold;
        font-family:Arial;
        transition:0.2s;
    "
       onmouseover="this.style.background='#2980b9'"
       onmouseout="this.style.background='#3498db'">
        Home
    </a>
</div>

<h2>Customers</h2>

<a href="/customers/new">Add New Customer</a>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Orders</th>
        <th>Details</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    <tr th:each="customer : ${customers}">
        <td th:text="${customer.name}"></td>

        <td th:text="${customer.orders != null ? customer.orders.size() : 0}"></td>

        <!-- DETAILS button -->
        <td>
            <form th:action="@{'/customers/' + ${customer.id}}" method="get">
                <button type="submit">Details</button>
            </form>
        </td>

        <!-- UPDATE button -->
        <td>
            <form th:action="@{'/customers/' + ${customer.id} + '/edit'}" method="get">
                <button type="submit">Update</button>
            </form>
        </td>

        <!-- DELETE button -->
        <td>
            <form th:action="@{'/customers/' + ${customer.id} + '/delete'}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>