<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customers</title>
</head>
<body>
<h1>Customers</h1>
<a th:href="@{/customers/new}">Add New Customer</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.email}"></td>
        <td>
            <a th:href="@{/customers/edit/{id}(id=${customer.id})}">Edit</a>
            <a th:href="@{/customers/delete/{id}(id=${customer.id})}"
               onclick="return confirm('Are you sure?');">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
