<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Assignments</title>
</head>
<body>
<h2>Order Assignments</h2>

<a href="/orderAssignments/new">Add New Assignment</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Order ID</th>
        <th>Staff ID</th>
        <th>Action</th>
    </tr>
    <tr th:each="assignment : ${orderAssignments}">
        <td th:text="${assignment.id}"></td>
        <td th:text="${assignment.orderId}"></td>
        <td th:text="${assignment.staffId}"></td>
        <td>
            <form th:action="@{'/orderAssignments/' + ${assignment.id} + '/delete'}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
